/data/bees/
Daily Report.ipynb
/data/cats_and_dogs_filtered/
/data/cats_and_dogs_filtered.zip
/data/MNIST_train.csv
/data/MNIST_test.csv
/new_env/
/.venv/
/Projects/LEGO/Lego_Tracking/
/Projects/Lego/videos/
/Daily/Week 8/10-16.ipynb
.env

